How does a client know, which of the list of supported resources, is suitable for POST (insert)?

Most servers advertise in the conformance document which feature formats they support (e.g. GeoJSON, GML, etc.).  However, not all formats (e.g. HTML) are a suitable representations for use with a HTTP POST.  How does a client know which formats may be used with a POST/PUT?
One way is to use the OpenAPI document but it seems like a pretty heavy lift to make clients (especially ones that don't use OpenAPI-base tool chains) have to read the OpenAPI document to figure this out.
Would another approach we of value?  Perhaps some variant of OPTIONS or something similar to /queryables or perhaps some form of parameterized conformance document that crosswalks the format-based conformance classes with the methods they support (e.g. GeoJSON with GET,PUT,POST).

Another approach (in addition top OpenAPI document?) would be super valuable.

+1 for not requiring an OpenAPI parsing to determine the validity or parameters of any operation, as it would would put some development frameworks / methodologies at a great disadvantage.

How about an API Description element with one entry for each HTTP verb supported for the described resource? 
Each "verb" could have an additional set of metadata describing parameters, response schema, etc.
And what better time to try it out than a sprint?

Features API SWG meeting 2020-10-12: Investigate, if OPTIONS can address this. We don't want to invent a new API definition grammar that is basically a stripped-down OpenAPI definition. @pvretano will look at how OPTIONS as specified in the HTTP RFC can address the need.

In my experience, an HTTP OPTIONS request is a great way for a client to determine which HTTP methods are available at a particular endpoint.  In fact, it's exactly what the HTTP OPTIONS method is for.  We have implemented this for many of the endpoints on our test "OGC API" server at "https://test.cubewerx.com/cubewerx/cubeserv/demo/ogcapi/Daraa".  E.g.,

E.g., an HTTP OPTIONS request to

```
https://test.cubewerx.com/cubewerx/cubeserv/demo/ogcapi/Daraa/collections
```

returns

```
Allow: GET,HEAD,OPTIONS
```

while an HTTP OPTIONS request to

```
https://test.cubewerx.com/cubewerx/cubeserv/demo/ogcapi/Daraa/styles
```

returns

```
Allow: GET,HEAD,POST,OPTIONS
```

This is sensitive to identity as well, so clients will get an "Allow" response header that's specific to them based on the access-control rules of the server.

Of course our OpenAPI document at "https://test.cubewerx.com/cubewerx/cubeserv/demo/ogcapi/Daraa/api" also lists the HTTP methods available at each endpoint, and that too is sensitive to identity.  But as stated above, it would be a rather heavyweight thing for a client to look up.  Whereas an HTTP OPTIONS request is a well-established single-packet few-millisecond request.

@pomakis - Agreed. However, there is one aspect of the original comment that the standard OPTIONS does not address:

> How does a client know which formats may be used with a POST/PUT?

@cportele - True.

One possible solution is to state that the OPTIONS response headers can contain an HTTP Accept header (as specified in RFC 7231 section 5.3) indicating what the endpoint can accept.  The HTTP Accept header is typically used in a request to indicate what the client (requester) is willing to accept, but I see no reason it couldn't be used the other way around.

E.g., an HTTP OPTIONS request to

```
  https://test.cubewerx.com/cubewerx/cubeserv/demo/ogcapi/Daraa/styles
```

could return

```
  Allow: GET,HEAD,POST,OPTIONS
  Accept: application/vnd.ogc.sld+xml
```
  
Just a thought.
